<h2>Detalles del Producto</h2>
<div class="tarjetaProducto" style="margin-bottom: 15px;">
    <div class="contenedorTituloYCategoriaProducto">
        <div class="tituloProducto">{{product.tittle}}</div>
        <div class="categoriaProducto"> Categoria: {{product.category}}</div>
    </div>
    {{#if product.thumbnail.[1]}}
        {{#each product.thumbnail}}
            <div class="contenedorFotosProducto">
                <img src="/fotosProductos/{{this}}"/>
            </div>
        {{/each}}
    {{else}}
        {{#if product.thumbnail.[0]}}
        <div class="contenedorFotosProducto">
            <img src="/fotosProductos/{{product.thumbnail.[0]}}" alt="Foto Producto"/>
        </div>
        {{else}}
            <div class="contenedorFotosProducto">
                No hay foto
            </div>
        {{/if}}
    {{/if}}
    <div class="contenedorDescripcionProducto">{{product.description}}</div>
    <button onClick='agregarAlCart({{product.id}},"{{product.tittle}}")'> Agregar al carro</button>
</div>
<button><a class="enlace" href="/">Volver al home</a></button>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/product.js"></script>